.res-outerBox{
    background-color: rgb(152, 212, 152);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 120px;
    height: 100vh;
    width: 100%;
    font-size: larger;
}
.res-statistics{
    display: flex;
    flex-direction: column;
    gap: 30px;
}